@page "/"
@inject IJSRuntime JS

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<canvas id="three"/>
<Button @onclick="Callback">LEL</Button>

@code{
    private async Task Callback()
    {
        await JS.InvokeAsync<string>("JSLib.init", "three");
    }
}