@page "/molecule"
@using ChemSharp.Molecules.Blazor
@inject IJSRuntime JS

<h3>Molecule</h3>
<InputFile OnChange="OnFileChange" id="filedrop" class="form-control" />   
<BlazorMolecule Molecule=molecule />

@code {

    CSMolecule? molecule;

    private async Task OnFileChange(InputFileChangeEventArgs args)
    {
        var file = args.File;
        molecule = await BlazorMoleculeFactory.CreateAsync(file);
    }
}
