@page "/molecule"
@using ChemSharp.Molecules.Blazor
@inject IJSRuntime JS

<h3>Molecule</h3>
<p>Open .cif, .mol2, .xyz oder .pdb Files</p>
<InputFile OnChange="OnFileChange" id="filedrop" class="form-control" />   
<BlazorMolecule Molecule=molecule class="lol" style="height: 50vh;"/>

@code {

    ChemSharp.Molecules.Molecule? molecule;

    private async Task OnFileChange(InputFileChangeEventArgs args)
    {
        var file = args.File;
        molecule = await BlazorMoleculeFactory.CreateAsync(file);
    }
}
