@page "/plot"
@using OxyPlot
@using OxyPlot.Series
@using OxyPlot.SkiaSharp.Blazor
@using SkiaSharp.Views.Blazor
<h3>OxyPlot Test</h3>
<PlotView Model=model Width="800" Height="600"/>

<br/>
<h4>Missing Stuff</h4>
<ul>
    <li>Zoom Rectangle</li>
    <li>Tracker</li>
    <li>...</li>
</ul>

@code {
    private PlotModel model = new PlotModel();

    protected override void OnInitialized()
    {
        var pts = new DataPoint[]
        {
            new(1, 2),
            new(2, 4),
            new(9, 0),
            new(12, 5),
            new(10, 11),
        };
        var series = new LineSeries()
        {
                ItemsSource = pts
        };
        model.Series.Add(series);
    }
}
