@page "/plot"
@using OxyPlot
@using OxyPlot.Series
@using OxyPlot.SkiaSharp.Blazor
@using SkiaSharp.Views.Blazor
<h3>OxyPlot Test</h3>
<PlotView Model=model style="height: 30vh"/>

<br/>
<h4>Missing Stuff</h4>
<ul>
    <li>Zoom Rectangle</li>
    <li><span style="text-decoration: line-through">Tracker</span></li>
    <li><span style="text-decoration: line-through">Plot does weird stuff if monitor scaling is not set to 100%</span>, see <a href="https://github.com/mono/SkiaSharp/pull/1889">mono/SkiaSharp#1889</a> and <a href="https://github.com/mono/SkiaSharp/issues/1838">mono/SkiaSharp#1838</a></li>
    <li>...</li>
</ul>

@code {
    private PlotModel model = new PlotModel();

    protected override void OnInitialized()
    {
        var pts = new DataPoint[]
        {
            new(1, 2),
            new(2, 4),
            new(9, 0),
            new(12, 5),
            new(10, 11),
        };
        var series = new LineSeries()
            {
                ItemsSource = pts,
                Title = "Look mom, OxyPlot.SkiaSharp.Blazor!",
                TrackerFormatString = "{0}<br/>{1}: {2:0.00} - {3}: {4:0.00}"
        };
        model.Series.Add(series);
    }
}
