@inject IJSRuntime JS

<div class="position-relative" style="width:@Width; height: @Height">
    <canvas id="three-webgl" class="position-absolute" style="width:100%; height: 100%"></canvas>
</div>
@ChildContent
@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string Width { get; set; } = "100%";

    [Parameter]
    public string Height { get; set; } = "70vh";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;
        await JS.InvokeVoidAsync("chemsharpMolecules.init", "three-webgl");
    }
}
